<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.publicdomainpictures.net%2Fes%2Fview-image.php%3Fimage%3D148057%26picture%3D07-imagenes&psig=AOvVaw0flY9W0S4NmdnE6zPJgetZ&ust=1668995545529000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCPCOn4jTu_sCFQAAAAAdAAAAABAI" 
alt="">
<body style="background-color: rgb(202, 107, 107);">
    <div style="text-align: center;">
        <h1 style="background-color: goldenrod;">Gustos</h1> 
        <p > Ropa</p>
        <p > Curso: Tercero E2 </p>
        <p > Fecha nacimiento: 13/08/2005</p>
        
         
        <button (click)="navegacion()">Inicio</button> 
        
        
        <br>
        <br>
    </div>
    </body>
