
<body style="background-color: rgb(245, 209, 125) ;">
    <div style="text-align: center; background-color: rgb(245, 209, 125) ;">
        <h1 style="background-color: goldenrod;">Gustos</h1> 
        <button (click)="navegacion()">Inicio</button> 
        <br>
    </div>
    <div style="text-align: center; background-color: rgb(245, 209, 125) ;">
        <h1 style="background-color: darkgoldenrod"> Vestimenta</h1>
        <p>El tipo de vestimenta que mas me a gustado usar, es la ropa deportiva al menos cuando voy a ciertos lugares que no son tan importantes, puedo</p>
        <p>usar un calentador deportivo, camisa y una chompa con capucha. En cambio si me voy con unos amigos o familia por algun lado o a matar el tiempo </p>
        <p>uso ropa mas casual como un jean con un camisa y una casaca de cuero, para dormir me gusta estar con una pantalotena y una camiseta. </p>
        <h1 style="background-color: darkgoldenrod"> Animales</h1>
        <p>Primeramente por mi alergia no puedo tener gatos en casa, me gustan los animales con mucha lana, lastimosamente me causan irritacion en los ojos</p>
        <p>me gustan los gatos pero si tendria que elegir iria por un perro, se ven tiernos y graciosos, actualente tengo una perrita la cual quiero mucho, </p>
        <p>no tiene tanta lana por lo cual no me da alergia.</p>
        <h1 style="background-color: darkgoldenrod"> Musica</h1>
        <p>Me gusta la musica rock, electronica y los pasillos, en las fiestas de familia me gusta escuchar a las personas mayores a mi edad cantando los</p>
        <p>pasillos, en cuanto a la electronica y el rock los escucho cuando hago deberes o tareas en la casa, dado a que no me gusta realizar actividades</p>
        <p>sin un poco de apoyo auditivo.</p>
        <h1 style="background-color: darkgoldenrod"> Comida favorita</h1>
        <p>Mi comida favorita son los sanduches, me gustan de cualquier tipo que tenga carne, uno de mis favoritos es el sanduche de pernil, que saben vender</p>
        <p>por la iglesia San Blas, junto a un jugo de coco los caules son un buen acompa&ntilde;ado al sanduche</p>
        
        <h1 style="background-color: darkgoldenrod"> Deporte favorito</h1>
        <p></p>
        <p></p>
        <p></p>
        <h1 style="background-color: darkgoldenrod"> Porque elegi la carrera de Programacion</h1>
        <p></p>
        <p></p>
        <p></p>
    </div>

    </body>
