<body style="background-color: rgb(202, 107, 107);">
    <div style="text-align: center;">
        <h1 style="background-color: goldenrod;">DATOS PERSONALES</h1> 
        <div style="background-color: rgb(245, 209, 125) ;">
            <button (click)="navegacion()">Inicio</button> 
        </div>
        <p > Nombre: Andres Sebastián Solano Vasquez</p>
        <p > Curso: Tercero E2 </p>
        <p > Fecha nacimiento: 13/08/2005</p>
        <p > Ciudad: Cuenca-Ecuador</p>
        <p > Sexo: Masculino</p>
        <p > Estado civil: Soltero</p>

        <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/250754221_2019794944848046_2450757414651371949_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE8a1FDVOWHUhNV51WB3N9FLcAsZEV4QvwtwCxkRXhC_Gy-yuhzIZfwdmiD6wbptd8yRDBQ6HmfU321Mw1MMZH4&_nc_ohc=FP5EWkqMTfQAX-gG3TI&_nc_ht=scontent.fcue1-1.fna&oh=00_AfDo1TZD5oUoZXEuBQ9UXGcdr17PMqQ_ch0wNHabei2N8g&oe=637F6F8E"/>
    </div>

</body>
    

